* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.container {
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header {
    padding: 16px 0 0;
    color: #fff;
    background-color: #198af3;
}

.menu > li {
    float: left;
    list-style: none;
    padding: 10px;
    position: relative;
}

.menu > li > a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    border-top: 2px solid transparent;
}

.submenu {
    display: none;
    position: absolute;
    text-align: center;
    background-color: #fff;
    top: 100%;
    list-style: none;
}

.submenu li{
    padding-bottom: 8px;
}

.submenu li a{
    text-decoration: none;
    color: #000;
}

.menu li:hover .submenu {
    display: block;
}

.submenu li a:hover {
    color: #198af3;
}

.menu li:hover {
    border-top: 2px solid #fff;
}

.conteudo {
    display: grid;
    grid-template-columns: 40% 58%;
    column-gap: 2%;
    margin-top: 42px;
}

.sobre img{
    max-width: 100%;
}

.loja h2{
    font-style: italic;
    color: #198af3;
    margin-bottom: 8px;
}

.loja h3 {
    font-weight: 400;
}

aside .linha {
    border-bottom: 2px solid #198af3;
    margin-bottom: 2em;
}

.produtos .linha {
    border-bottom: 2px solid #198af3;
    margin-bottom: 2em;
}

.produtos h2 {
    margin-top: 32px;
}

.vitrine {
    display: grid;
    grid-template-columns: repeat(4, 24%);
    column-gap: 3%;
}

.foto img {
    width: 100%;
    margin-top: 12px;
}

.detalhes {
    display: none;
}

.detalhes a {
    color: #000;
        text-decoration: none;
        font-style: italic;
        font-weight: bold;
        margin-left: 12%;
        background-color: #f80303d7;
        padding: 8px;
        border-radius: 3px;
}

.foto:target {
    position: fixed;
    width: 35%;
    top: 10%;
    left: 35%;
    padding: 15px;
    border: 2px solid #000;
    border-radius: 10px;
    background-color: #198af3c9;
}

.foto:target .detalhes {
    display: block;
}

.tenis p {
    margin-bottom: 8px;
}

.tenis button {
    width: 100%;
    padding: 8px;
    background-color: #198af3;
    border: none;
    margin-bottom: 16px;
    cursor: pointer;
}

.tenis button:hover{
    background-color: #53a1eb;
    border: 1px solid #000;
}

.tenis img:hover {
    cursor: pointer;
}

@media screen and (min-width: 641px) and (max-width: 1023px){
    .conteudo {
        display: block;
    }

    .container {
        max-width: 90%;
    }

    .sobre img{
        max-width: 60%;
        margin-left: 25%;
    }

    .vitrine {
        display: grid;
        grid-template-columns: repeat(2, 38%);
        column-gap: 20%;
        align-items: center;
    }

    .tenis img {
        max-width: 90%;
        margin-left: 25px;
    }
    .logo img {
        width: 100%;
    }

    .foto img {
        width:  100%;
        margin-top: 10px;
        position: relative;
    }
    
    .detalhes a {
        color: #000;
        text-decoration: none;
        font-style: italic;
        font-weight: bold;
        margin-left: 12%;
        background-color: #f80303d7;
        padding: 8px;
        border-radius: 3px;
    }
    
    .foto:target {
        z-index: 1;
        position: fixed;
        width: 45%;
        top: 15%;
        left: 25%;
        padding: 15px;
        border: 2px solid #000;
        border-radius: 10px;
        background-color: #198af3c9;
    }
    
    .foto:target .detalhes {
        display: block;
    }
}

@media screen and (max-width: 640px){
    .conteudo {
        display: block;
    }

    .container {
        max-width: 90%;
    }

    .vitrine {
        max-width: 60%;
        display: block
    }

    .tenis img {
        max-width: 85%;
        margin-left: 8%;
    }

    .foto img {
        width:  100%;
        margin-top: 10px;
        position: relative;
    }
    
    .detalhes a {
        color: #000;
        text-decoration: none;
        font-style: italic;
        font-weight: bold;
        margin-left: 12%;
        background-color: #f80303d7;
        padding: 8px;
        border-radius: 3px;
    }
    
    .foto:target {
        z-index: 1;
        position: fixed;
        width: 70%;
        top: 40%;
        left: 15%;
        padding: 10px;
        border:none;
        border-radius: 10px;
        background-color: #198af3;
    }

    .logo img {
        width: 100%;
    }

    header div.container {
        flex-direction: column;
    }
}